@import "tailwindcss";

@theme {
  --color-maroon: #7b1815;
  --color-broken-white: #fbf9f5;
  
  --font-serif: "Playfair Display", Georgia, serif;
}

body {
  background-color: #1c1917; /* Latar luar warna charcoal hangat */
  color: #1c1917;
  font-family: system-ui, -apple-system, sans-serif;
  margin: 0;
  padding: 0;
}